# Every-Circle-Mobile git ignore

# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
.env.bak
.env*.bak
*.keystore

# typescript
*.tsbuildinfo

# Build directories
ios/
android/

# Secrets
secrets.json
*.sh
*.plist/ios/

# JetBrains IDEs
.idea/
*.iml

# Specific Files
StripePayment.js
STRIPE_IMPLEMENTATION_GUIDE.md
StripePayment.md